{% extends "hkis/layout.html" %}
{% load i18n %}
{% block title %}About{% endblock %}

{% block container %}
  <h1>{% trans "About Genepy" %}</h1>
  <h2>{% trans "Is it free?" %}</h2>
  <p>
    {% blocktrans trimmed %}
      Genepy platform is a free, without ads, and open-source
      (<a href="https://framagit.org/hackinscience/" target="_blank">repo on framagit</a>)
      exercise platform, by a <a href="/team/" target="_blank">team</a> of Python passionates.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      So, yes, even in a profesional context, even if you're a teacher, of any school, of any country, you can use Genepy for free.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      If at the end you're grateful of our work, you can still <a href="/sponsor/" target="_blank">donate</a>.
    {% endblocktrans %}
  </p>
  <h2>{% trans "You're a teacher?" %}</h2>
  <p>
    {% blocktrans trimmed %}
      If you're a teacher, you can add your students to a team and ask me
      (julien at palard dot fr) to give you access to the teacher admin panel to get
      an overview of what your students are doing.
    {% endblocktrans %}
  </p>
  <h2>{% trans "You'd like The Genepy Team for a class?" %}</h2>
  <p>
    {% blocktrans trimmed %}
      Good news, we teach Python too! Both in schools and companies, don't hesitate
      to drop me an email at julien at palard dot fr and we'll discuss about it.
      We're based in Paris, France, but it may be OK for the team to move in other
      places, or do it remotely, let's talk about it!
    {% endblocktrans %}
  </p>
  <h2>{% trans "Friendly Tracebacks in corrections" %}</h2>
  <p>
    {% blocktrans trimmed %}
      You may have spotted Python exceptions are often nicely explained, how
      do we do that?
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      We're using André Roberge's <a href="https://github.com/friendly-traceback/friendly-traceback" target="_blank">friendly-traceback</a>,
      a project which tries to understand what caused the exception, and
      explain it.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      If you spot an exception that is not explained by
      <code>friendly-traceback</code>, which end up with "You might want to report this
      case to ...", don't hesitate to report the case to the given link,
      André is always very fast to implement the case and it will help many
      people, not only Genepy users!
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      In the other hand if you spot a correction message that is not
      helpfull and does not give a link to <code>friendly-traceback</code>, please open
      an issue on <a href="https://framagit.org/hackinscience/hkis-website" target="_blank">Genepy</a>'s
      issue tracker, as it's probably to be enhanced in our side.
    {% endblocktrans %}
  </p>
{% endblock %}
