{% extends "hkis/layout.html" %}
{% load hkis_extra i18n static %}
{% block title %}{% trans "The Genepy Team" %}{% endblock %}
{% block container %}
  <h1>{% trans "The Genepy Team" %}</h1>
  <div class="teachers">
    <div class="teacher">
      <h4>Antoine Angot</h4>
      <img src="{% static "img/antoine-angot.jpg" %}">
      <p>
        {% blocktrans trimmed %}
          Former CS teacher at FdV Licence,
          <a href="https://lean.fr" target="_blank">lean.fr</a>.
        {% endblocktrans %}
      </p>
    </div>
    <div class="teacher">
      <h4>Antoine Mazières</h4>
      <img src="{% static "img/antoine-mazieres.jpg" %}">
      <p>
        {% blocktrans trimmed %}
          Postdoctoral Researcher at Centre Marc Bloch, <a href="https://antonomase.fr/" target="_blank">antonomase.fr</a>.
        {% endblocktrans %}
      </p>
    </div>
    <div class="teacher">
      <h4>Julien Palard</h4>
      <img src="{% static "img/julien-palard.jpg" %}">
      <p>
        CPython core developer, independent Python trainer, <a href="https://mdk.fr" target="_blank">mdk.fr</a>.
      </p>
    </div>
    <div class="teacher">
      <h4>Jérôme Schneider</h4>
      <img src="{% static "img/jerome-schneider.jpg" %}">
      <p>
        Profesionnal Python programmer with 10+ years of experience.
      </p>
    </div>
  </div>
  <h2>{% trans "Contact us" %}</h2>
  <p>
    {% blocktrans trimmed %}
      You can contact us by email at team at genepy dot org.
    {% endblocktrans %}
  </p>
{% endblock %}
