{% extends "hkis/layout.html" %}
{% load i18n static %}
{% block title %}{% trans "Legal" %}{% endblock %}

{% block container %}
  <h1>{% trans "Legal Notice" %}</h1>
  <h2>{% trans "Owner" %}</h2>
  <p>
    {% blocktrans trimmed %}
      This website is made by <a href="https://mdk.fr" target="_blank">Julien Palard</a>, resident in Carrières-sur-Seine, France.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      Contact: <a href="julien@palard.fr" target="_blank">julien@palard.fr</a>.
    {% endblocktrans %}
  </p>
  <h2>{% trans "Hosting" %}</h2>
  <p>
    {% blocktrans trimmed %}
      The website is hosted by <a href="https://www.octopuce.fr/" target="_blank">OCTOPUCE</a> SARL,
      25 rue Popincourt 75011 Paris.
    {% endblocktrans %}
  </p>
  <p>
    {% trans "Contact: <code>+33 9 50 56 80 88</code>" %}
  </p>
{% endblock %}
