{% extends "hkis/layout.html" %}
{% load i18n static %}
{% block title %}{% trans "Legal" %}{% endblock %}

{% block container %}
  <h1>{% trans "Privacy Policy" %}</h1>
  <h2>{% trans "Personal informations" %}</h2>
  <p>
    {% blocktrans trimmed %}
      When registering and using Genepy, we store some informations
      about you:
    {% endblocktrans %}
  </p>
  <ul>
    <li>
      {% blocktrans trimmed %}
        Your username, maybe your email if you gave it at registration
        time.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        All the exercises you did, when you did them, what you
        submitted, what the bot answered.
      {% endblocktrans %}
    </li>
  </ul>
  <p>
    {% blocktrans trimmed %}
      Why do we store all your submissions?
    {% endblocktrans %}
  </p>
  <ul>
    <li>
      {% blocktrans trimmed %}
        To display ✓ and ✗ marks near exercises so you know which one
        you succeeded and which one to do.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        So you can find them back in the future.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        To compute some statistics to spot which exercises are too
        hard to order them better or introduce intermediate/easier
        ones.
      {% endblocktrans %}
    </li>
  </ul>
  <p>
    {% blocktrans trimmed %}
      If you want to correct an information we've got about you, delete
      it, or if you'd like all the data about you conveniently archived for
      offline reading, feel free to send a mail to
      <a href="julien@palard.fr" target="_blank">julien@palard.fr</a>.
    {% endblocktrans %}
  </p>
  <h3>
    {% blocktrans trimmed %}
      Trackers, external analytics tools, advertising
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans trimmed %}
      We do not use any trackers, nor any advertising network.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      No information is getting out of Genepy in any way: we don't
      sell nor give any data.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      If you read this, you probably don't like being tracked, there's
      two complementary things you can do:
    {% endblocktrans %}
  </p>
  <ul>
    <li>
      {% blocktrans trimmed %}
        Install an ad blocker like
        <a href="https://github.com/gorhill/uBlock/" target="_blank">uBlock</a>
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        Or use the
        <a href="https://en.wikipedia.org/wiki/Privacy_Badger" target="_blank">
          Privacy Badger
        </a>
        browser extension from the
        <a href="https://en.wikipedia.org/wiki/Electronic_Frontier_Foundation" target="_blank">
          Electronic Frontier Foundation
        </a>.
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        Stop using Google Chrome.
      {% endblocktrans %}
    </li>
  </ul>
{% endblock %}
