{% extends "hkis/layout.html" %}
{% load i18n humanize static %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
  <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/select2.full.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/profile.js' %}?v={{ version }}" type="text/javascript"></script>
{% endblock %}

{% block data %}
  data-api-current-user-url="{{ api_current_user_url }}"
{% endblock %}

{% block container %}
  <section id="statistics">
    <h1>{% trans "Profile" %}</h1>
    <h2>{% trans "Statistics" %}</h2>
    <dl>
      <dt class="login">{% trans "Login" %}</dt>
      <dd>{{ user.username }}</dd>
      <dt class="date">{% trans "Registration date" %}</dt>
      <dd>
        {% blocktrans with date_joined=user.date_joined.date trimmed %}
          Subscribed on {{ date_joined }}
        {% endblocktrans %}
      </dd>
      <dt class="points icon">{% trans "Points" %}</dt>
      <dd>
        {% blocktrans with points=user_info.points|floatformat:"0" trimmed %}
          <span class="number">{{ points }}</span> points
        {% endblocktrans %}
      </dd>
      {% if user_info and user_info.rank is not None %}
        <dt class="rank icon">{% trans "Rank" %}</dt>
        <dd>
          {% with rank_length=user_info.rank|slugify|length|slugify|add:":" %}
            {% blocktrans with rank=user_info.rank ordinal=user_info.rank|ordinal|slice:rank_length trimmed %}
              <span class="number">{{ rank }}<sup>{{ ordinal }}</sup></span> place
            {% endblocktrans %}
          {% endwith %}
        </dd>
      {% endif %}
      <dt class="solutions icon">{% trans "Resolutions" %}</dt>
      <dd>
        {% blocktrans with date_joined=user.date_joined trimmed %}
          <span class="number">{{ done_qty }}</span> resolutions
        {% endblocktrans %}
      </dd>
      <dt class="teams icon">{% trans "Teams" %}</dt>
      <dd>
        {% if not memberships %}
          {% trans "You're not in a team yet" %}
        {% else %}
          {% for membership in memberships %}
            {% if membership.team.is_public %}
              {{ membership.team.name }}{% if not forloop.last %}, {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </dd>
    </dl>
  </section>

  <section id="information">
    <h2>{% trans "Personal information" %}</h2>
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      {% url 'auth_password_change' as password_change %}
      <button type="submit">{% trans "Update" %}</button>
      <ul class="buttons">
        <li>
          <a href="{{ password_change }}">{% trans "Change your password" %}</a>
        </li>
      </ul>
    </form>
  </section>

  <aside id="leaderboard">
    <h2>{% trans "Leaderboard" %}</h2>
    <table>
      <thead>
        <tr>
          <th scope="col" class="rank">{% trans "Rank" %}</th>
          <th scope="col" class="points">{% trans "Points" %}</th>
          <th scope="col" class="name">{% trans "Name" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for leaderbooard_user in leaderboard %}
          <tr {% if leaderbooard_user.pk == user.pk %}class="current"{% endif %}>
            <td class="rank">{{ leaderbooard_user.rank }}</td>
            <td class="points">{{ leaderbooard_user.points|floatformat:"0" }}</td>
            <td class="name">
              {{ leaderbooard_user.full_name }}
              {% if leaderbooard_user.teams %}
                <span class="teams">
                  {% for team in leaderbooard_user.teams.all %}
                    {% if team.is_public %}
                      <a href="{% url "team" team.slug %}">{{ team }}</a>{% if not forloop.last %}, {% endif %}
                    {% endif %}
                  {% endfor %}
                </span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="buttons">
      <li><a href="{% url "leaderboard" %}">{% trans "See the complete leaderboard" %}</a></li>
    </ul>
  </aside>

  <section id="teams">
    <h2>{% trans "Teams" %}</h2>
    {% if not memberships %}
      <p>
        {% trans "You're not in a team, but you can join or create one!" %}
      </p>
    {% else %}
      <ul>
        {% for membership in memberships %}
          <li>
            {% url 'team' membership.team.slug as team_url %}
            {% if membership.role == "PE" %}
              {% blocktrans trimmed with name=membership.team.name url=team_url %}
                You're almost in the <a href="{{ url }}">{{ name }}</a> team (waiting for approval).
              {% endblocktrans %}
            {% endif %}
            {% if membership.role == "ST" %}
              {% blocktrans trimmed with name=membership.team.name url=team_url %}
                You're staff in the <a href="{{ url }}">{{ name }}</a> team.
              {% endblocktrans %}
            {% endif %}
            {% if membership.role == "MM" %}
              {% blocktrans trimmed with name=membership.team.name url=team_url %}
                You're in the <a href="{{ url }}">{{ name }}</a> team.
              {% endblocktrans %}
            {% endif %}
            <button data-api-leave-membership-url="{{ membership.api_url }}" title="{% trans "Leave team" %}">
              {% trans "Leave team" %}
            </button>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <label for="join-team-select">{% trans "Join team" %}</label>
    <select id="join-team-select">
      {% for team in teams.all %}
        <option value="{{ team.id }}">{{ team.name }}</option>
      {% endfor %}
    </select>
    <button id="join-team" >{% trans "Join team" %}</button>

    <label for="create-team-input">{% trans "Create team" %}</label>
    <input id="create-team-input" type="text">
    <button id="create-team" >{% trans "Create team" %}</button>
  </section>

  <section>
    <h2>{% trans "Preferred language" %}</h2>
    {% get_current_language as current_language %}
    <label for="language-select">{% trans "Preferred language" %}</label>
    <select id="language-select">
      {% for language_tag, language in languages %}
        <option value="{{ language_tag }}" {% if current_language == language_tag %}selected{% endif %}>
          {{ language }}
        </option>
      {% endfor %}
    </select>
    <button id="language" >{% trans "Update" %}</button>
  </section>
{% endblock %}
