{% extends "hkis/layout.html" %}
{% load i18n static %}
{% block title %}{% trans "Sponsor" %}{% endblock %}

{% block container %}
  <h1>{% trans "Sponsor" %}</h1>
  <p>
    {% blocktrans trimmed %}
      Genepy is free, <a href="https://framagit.org/hackinscience/hkis-website" target="_blank">open-source</a>, without ads and without trackers.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      As so it runs <strong>exclusively</strong> on your donations.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      To help me redact more exercises, you can buy me some coffee using the following
      donations platforms:
    {% endblocktrans %}
  </p>
  <div class="donation-means">
    <a class="donation-mean" href="https://liberapay.com/JulienPalard">
      <img src="{% static "img/liberapay.svg" %}">
      {% trans "Weekly donation" %}
    </a>
    <a class="donation-mean" href="https://github.com/sponsors/JulienPalard/">
      <img src="{% static "img/github.svg" %}">
      {% trans "Monthly donation" %}
    </a>
    <a class="donation-mean" href="https://paypal.me/JulienPalard">
      <img src="{% static "img/paypal.svg" %}">
      {% trans "One shot donation" %}
    </a>
  </div>

<h1>{% trans "Donators" %}</h1>
  <ul>
    <li>
      {% trans "I receive 1€ weekly from someone on LiberaPay" %}
    </li>
    <li>
      {% blocktrans trimmed %}
        2024-12-06: Received $5000 grant from the <a href="https://www.python.org/psf-landing/" target="_blank">Python Software Fundation</a>
      {% endblocktrans %}
    </li>
    <li>
      {% trans "2024-10-18: Received $5 via PayPal" %}
    </li>
    <li>
      {% trans "2024-04-19: Received 20 € from @mikhaillomonosov" %}
    </li>
    <li>
      {% trans "2024-03-29: Received 0,63 € via PayPal" %}
    </li>
    <li>
      {% blocktrans trimmed %}
        2023-12-01: Received a 1666 € grant from <a href="https://www.codelutin.com" target="_blank">Code Lutin</a>
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        2023-03-14: Received a $7000 grant from the <a href="https://www.python.org/psf-landing/" target="_blank">Python Software Fundation</a>
      {% endblocktrans %}
    </li>
    <li>
      {% trans "2022-10-24: HackWeber domanted $10 via PayPal" %}
    </li>
    <li>
      {% trans "2022-07-06: Received 5 € via PayPal" %}
    </li>
    <li>
      {% trans "2022-06-30: Received 5 € via Paypal" %}
    </li>
    <li>
      {% trans "2022-05-21: Received 10 € via PayPal" %}
    </li>
    <li>
      {% trans "2021-05-21: Received 20 € via Paypal" %}
    </li>
  </ul>
  <p>
    {% blocktrans trimmed %}
      (Your recognize your donation? Tell me if you want your name on your line, julien at palard dot fr.)
    {% endblocktrans %}
  </p>
  <h1>{% trans "Our sponsors" %}</h1>
  <ul>
    <li>
      {% blocktrans trimmed %}
        <a href="https://octopuce.fr" target="_blank">Octopuce</a> is providing servers to host Genepy for free
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        <a href="https://gandi.net" target="_blank">Gandi</a> is providing us with domain names for free
      {% endblocktrans %}
    </li>
    <li>
      {% blocktrans trimmed %}
        <a href="https://www.codelutin.com" target="_blank">Code Lutin</a>
      {% endblocktrans %}
    </li>
  </ul>
  <h1>{% trans "Become a sponsor" %}</h1>
  <p>
    {% blocktrans trimmed %}
      Big user of Genepy, you'd like to see more feature or just say thank you?
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      Let's discuss sponsorship by email: <a href="mailto:julien@palard.fr" target="_blank">julien@palard.fr</a>.
    {% endblocktrans %}
  </p>
{% endblock %}
