{% extends "hkis/layout.html" %}
{% load i18n %}
{% block title %}{% trans "Statistics" %}{% endblock %}

{% block container %}
  <section>
    <h1>{% trans "Statistics" %}</h1>
    <table>
      <tr>
        <th scope="col">{% trans "Title" %}</th>
        <th scope="col">{% trans "Tries" %}</th>
        <th scope="col">{% trans "Solves" %}</th>
        <th scope="col">{% trans "Success ratio" %}</th>
      </tr>
      {% for exercise in exercises %}
        <tr>
          <td>{{ exercise.title }}</td>
          <td>{{ exercise.tries }} ({{ exercise.tries_difference|stringformat:"+i"}})</td>
          <td>{{ exercise.successes }} ({{ exercise.successes_difference|stringformat:"+i"}})</td>
          <td>{{ exercise.success_ratio|floatformat }}% ({%if exercise.success_ratio_difference > 0 %}+{% endif %}{{ exercise.success_ratio_difference|floatformat }}%)</td>
        </tr>
      {% endfor %}
    </table>
  </section>
{% endblock %}
