{% extends "hkis/layout.html" %}
{% load i18n static %}
{% block title %}{% trans "Teams Leaderboard" %}{% endblock %}

{% block container %}
  <section>
    <h1>{% trans "Leaderboard" %}</h1>
    <p class="subtitle">{% trans "Follow leaderboards in real time" %}</p>
    <ul class="tabs">
      <li class="individual">
        <a href="{% url "leaderboard" %}">{% trans "Individual" %}</a>
      </li>
      <li class="teams selected">
        <a href="{% url "team-leaderboard" %}">{% trans "Teams" %}</a>
      </li>
    </ul>
    <table>
      <thead>
        <tr>
          <th scope="col">{% trans "Rank" %}</th>
          <th scope="col">{% trans "Points" %}</th>
          <th scope="col">{% trans "Team" %}</th>
          <th scope="col">{% trans "Members" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for team in page_obj %}
          <tr class="rank-{{ forloop.counter0|add:page_obj.start_index }}">
            <td>
              {{ forloop.counter0|add:page_obj.start_index }}
            </td>
            <td>
              {{ team.points|floatformat:"0" }}
            </td>
            <td>
              <a href="{% url "team" team.slug %}">
                {{ team.name }}
              </a>
            </td>
            <td>
              {{ team.members.count }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul class="navigate">
      <li class="first">
        <a {% if page_obj.has_previous %}href="?page=1"{% else %}class="disabled"{% endif %}>
          {% trans "First" %}
        </a>
      </li>
      <li class="previous">
        <a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% else %}class="disabled"{% endif %}>
          {% trans "Previous" %}
        </a>
      </li>
      <li class="current">
        <a>
          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </a>
      </li>
      <li class="next">
        <a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% else %}class="disabled"{% endif %}>
          {% trans "Next" %}
        </a>
      </li>
      <li class="last">
        <a {% if page_obj.has_next %}href="?page={{ page_obj.paginator.num_pages }}"{% else %}class="disabled"{% endif %}>
          {% trans "Last" %}
        </a>
      </li>
    </ul>
  </section>
{% endblock %}
