{% extends "hkis/layout.html" %}
{% load i18n static %}
{% block title %}{% blocktrans with name=team.name %}{{ name }} Team{% endblocktrans %}{% endblock %}

{% block extrahead %}
  <script src="{% static "js/team.js" %}?v={{ version }}" type="text/javascript"></script>
{% endblock %}

{% block container %}
  <section>
    <h1>{% blocktrans with name=team.name %}Team {{ name }}{% endblocktrans %}</h1>
    <table>
      <thead>
        <tr>
          <th scope="col">{% trans "Rank" %}</th>
          <th scope="col">{% trans "Points" %}</th>
          <th scope="col">{% trans "Username" %}</th>
          <th scope="col">{% trans "Role" %}</th>
          {% if requester_membership.role == "ST" %}
            <th scope="col">{% trans "Action" %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for membership in team.members_by_rank %}
          {% if requester_membership.role == "ST" or membership.role != "PE" %}
            <tr class="rank-{{ forloop.counter }} {% if membership.user.username == user.username %}current{% endif %}">
              <td>
                {{ forloop.counter }}
              </td>
              <td>
                {{ membership.user.points|floatformat:"0" }}
              </td>
              <td>
                {% if membership.user.public_profile %}
                  {{ membership.user.username }}
                {% else %}
                  ({% trans "anonymous" %})
                {% endif %}
              </td>
              <td>
                {{ membership.get_role_display }}
              </td>
              {% if requester_membership.role == "ST" %}
                <td scope="row">
                  {% if membership.user.username != requester_membership.user.username %}
                    {% if membership.role == "MM" %}
                      <button data-api-remove-membership-url="{{ membership.api_url }}">{% trans "Remove" %}</button>
                    {% endif %}
                    {% if membership.role == "PE" %}
                      <button data-api-accept-in-team-url="{{ membership.api_url }}">{% trans "Accept" %}</button>
                      <button data-api-remove-membership-url="{{ membership.api_url }}">{% trans "Reject" %}</button>
                    {% endif %}
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% if requester_membership.role == "ST" %}
      <ul class="buttons">
        <li>
          <a href="{% url "team-stats" team.slug %}">Team stats</a>
        </li>
      </ul>
    {% endif %}
  </section>
{% endblock %}
