{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list %}

{% block content %}

{% for worker, report in stats.items %}
<h2>{{ worker }}</h2>
<pre>{{ report }}</pre>
{% endfor %}

{% endblock %}
