{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list %}

{% block content %}
<div>
  <input type="checkbox" id="admin_switch_debug_toolbar" data-debug-toolbar-secret="{{ debug_toolbar_secret }}" {% if debug_toolbar_is_enabled %}checked{% endif %}>
  <label class="form-check-label" for="flexSwitchCheckDefault">Enable Debug Toolbar</label>
</div>
{% endblock %}
