{% extends "admin/index.html" %}
{% block content %}
<div id="content-main">
  {% if user.is_superuser %}
  <div class="module">
    <table>
      <caption>Administration pages</caption>
        <tr>
          <th scope="row"><a href="/admin/pages/email-test">Email test</a></th>
          <td></td>
        </tr>
        <tr>
          <th scope="row"><a href="/admin/pages/correction-bots">Correction bots</a></th>
          <td></td>
        </tr>
        <tr>
          <th scope="row"><a href="/admin/pages/debug-toolbar">Debug toolbar</a></th>
          <td></td>
        </tr>
        <tr>
          <th scope="row"><a href="/admin/pages/error-test">Error test</a></th>
          <td></td>
        </tr>
    </table>
  </div>
  {% endif %}
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
