{% extends "hkis/layout.html" %}
{% load i18n static %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block container %}
  <h1>{% trans "Sign in" %}</h1>

  <p>
    {% trans "You can use your hackinscience.org account to log here." %}
  </p>
  <p>
    {% trans "Genepy is the new name and design for HackInScience." %}
  </p>

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <p>
      <a href="{% url "auth_password_reset" %}">{% trans "Forgot your password?" %}</a>
    </p>
    <button type="submit">{% trans "Sign in" %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p>
    {% trans "New to Genepy?" %}
    <a href="{% url "registration_register" %}">{% trans "Create an account" %}</a>
  </p>
{% endblock %}
