{% extends "hkis/layout.html" %}
{% load i18n %}

{% block extrahead %}
  <!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
  <meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block container %}
  <h1>{% trans "Confirm password reset" %}</h1>

  {% if validlink %}
    <p>{% trans "Enter your new password below to reset your password:" %}</p>
    <form action="" method="post" class="form">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">{% trans "Set password" %}</button>
    </form>
  {% else %}
    {% url "auth_password_reset" as url %}
    {% blocktrans with url=url trimmed %}
      Password reset unsuccessful. Please <a href="{{ url }}">try again.</a>
    {% endblocktrans %}
  {% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
