{% extends "hkis/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block container %}
  <h1>{% trans "Reset password" %}</h1>

  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <p>
      {% trans "In case you don't receive the password reset email, or in case you did not provided an email address while creating your account, don't hesitate to <a href=/contact/>contact us</a>." %}
    </p>
    <button type="submit">{% trans "Reset password" %}</button>
  </form>
{% endblock %}
