{% extends "hkis/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block container %}
  <h1>{% trans "Password changed" %}</h1>

  <p>{% trans "Your password has been successfully changed." %}</p>
{% endblock %}

{# This is used by django.contrib.auth #}
